/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */
body {
  color: #4d4d4d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4375; }

p {
  line-height: 1.4375;
  margin: 0 0 1.4375em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

small {
  font-size: 80%; }

a {
  color: #049cdb;
  text-decoration: none;
  border-bottom: 1px solid #49c7fc;
  -webkit-transition: color 0.25s linear, border-bottom 0.25s linear;
  -moz-transition: color 0.25s linear, border-bottom 0.25s linear;
  -ms-transition: color 0.25s linear, border-bottom 0.25s linear;
  -o-transition: color 0.25s linear, border-bottom 0.25s linear;
  transition: color 0.25s linear, border-bottom 0.25s linear; }
  a:hover {
    color: #0378a9;
    border-bottom: 1px solid #049cdb; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.4375;
  text-rendering: optimizelegibility; }

ul, ol {
  padding: 0;
  margin: 0 0 1.4375em 1em; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

li {
  line-height: 1.4375; }

dl {
  margin: 0 0 1.4375em 0; }

dt, dd {
  line-height: 1.4375; }

dt {
  font-weight: bold; }

dfn {
  font-style: italic; }

dd {
  margin-left: 1em; }

code, pre {
  color: #4d4d4d;
  font-family: Menlo, Monaco, "Courier New", monospace;
  direction: ltr;
  text-align: left;
  overflow: auto;
  padding: 0 3px 2px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2; }

code {
  background-color: #f2f2f2;
  padding: 2px 4px;
  white-space: nowrap; }

pre {
  background-color: #f2f2f2;
  line-height: 1.4375;
  display: block;
  overflow-x: auto;
  padding: 1.4375em/2;
  margin: 0 0 1.4375em 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap; }
  pre code {
    color: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;
    white-space: pre;
    white-space: pre-wrap; }

hr {
  margin: 1.4375em 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid transparent; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #cccccc; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ============================================================================================== */
/* Base Form Styles                                                                               */
/* ============================================================================================== */
form {
  margin: 0 0 1.4375em 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 1.4375em 0;
  font-size: 1.4375em;
  border: 0; }

label, input, button, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  text-transform: none;
  margin: 0; }

label {
  display: block;
  margin-bottom: 0.25em; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  height: 1.4375;
  padding: 0.1em 0.25em;
  margin-bottom: 1.4375em;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle; }

input, textarea {
  width: 100%; }

textarea {
  height: auto;
  overflow: auto;
  vertical-align: top; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: white;
  border: 1px solid #bfbfbf; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus {
    border-color: #049cdb;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */ }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  line-height: normal; }

.radio,
.checkbox {
  min-height: 1.4375; }
  .radio ul,
  .checkbox ul {
    list-style: none;
    margin-left: 0; }
  .radio li,
  .checkbox li {
    height: 1.4375;
    line-height: 1.4375; }
    .radio li label,
    .checkbox li label {
      font-size: 0.875em; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin: 2px 6px 0 0; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

select,
input[type="file"] {
  height: 1.625em;
  line-height: 1.625em; }

select {
  width: 100%;
  border: 1px solid #bfbfbf;
  background-color: white; }

select[multiple],
select[size] {
  height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[disabled],
select[disabled],
textarea[disabled],
button[disabled],
input[readonly],
select[readonly],
textarea[readonly],
button[readonly] {
  cursor: not-allowed;
  background-color: #cccccc; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #9d261d;
  border-color: #9d261d; }
  input:focus:invalid:focus,
  textarea:focus:invalid:focus,
  select:focus:invalid:focus {
    border-color: #47110d; }

/* ============================================================================================== */
/* Global Styles                                                                                  */
/* ============================================================================================== */
.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1000px;
  position: relative;
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

/* ============================================================================================== */
/* Demo Styles                                                                                    */
/* ============================================================================================== */
[role="banner"] {
  border-bottom: 1px solid #cccccc; }
  [role="banner"] h1 {
    font-size: 1.625em;
    color: #049cdb;
    margin: 0.25em 0; }

[role="main"] {
  padding: 2em 0; }
  [role="main"] h1 {
    font-size: 2.625em; }
  [role="main"] h2 {
    font-size: 2.3125em; }
  [role="main"] h3 {
    font-size: 1.625em; }
  [role="main"] h4 {
    font-size: 1.4375em; }
  [role="main"] h5 {
    font-size: 1em; }
  [role="main"] h6 {
    font-size: 0.875em;
    color: #8c8c8c;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  [role="main"] .unstyled-list {
    list-style: none;
    margin-left: 0; }
  [role="main"] .inline-list {
    list-style: none;
    margin-left: 0; }
    [role="main"] .inline-list > li {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin-left: 0.5em;
      margin-right: 0.5em; }
    [role="main"] .inline-list li:first-child {
      margin-left: 0; }
    [role="main"] .inline-list li:last-child {
      margin-right: 0; }
  [role="main"] .blockquote {
    padding-left: 1em;
    margin: 0 0 1.4375em 0;
    border-left: 1px solid #049cdb; }
    [role="main"] .blockquote blockquote {
      margin: 0; }
    [role="main"] .blockquote figcaption {
      font-size: 0.875em; }
      [role="main"] .blockquote figcaption cite {
        font-style: italic; }
      [role="main"] .blockquote figcaption:before {
        content: '\2014 \00A0'; }
  [role="main"] #demo-form {
    width: 400px; }

[role="contentinfo"] {
  border-top: 1px solid #cccccc; }
  [role="contentinfo"] p {
    margin: 0.5em 0; }

/* Helper Classes =============================================================================== */
.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }
