/* Code Styles ================================================================================== */
code,
pre {
  background-color: $sol-dark-bg;
  @include border-radius(2px);
  @include box-shadow(0 1px 4px rgba($darkest, 0.3));
  color: $sol-lightest-text;
  direction: ltr;
  font-family: $code-font-family;
  font-size: #{$modular-scale-down1}em;
  font-weight: bold;
  font-weight: 700;
  overflow: auto;
  padding: 0 0.2em;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  display: block;
  line-height: 1.7; // sorting out line-height issue by hard-coding it. womp womp
  overflow-x: auto;
  margin: -0.2em 0 1.35em 0;
  padding: 0.25em 1em;

  &.scrollable {
    max-height: 20em;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    height: 0;
    opacity: 0.5;
  }

  code[class*="language-"] {
    background-color: transparent;
    color: inherit;
    @include box-shadow(none);
    font-family: $code-font-family;
    font-size: #{$modular-scale-base}em;
    padding: 0;
  }
}