/* ============================================================================================== */
/* Global Styles                                                                                  */
/* ============================================================================================== */

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: $max-width;
  position: relative;
  @include clearfix;
}




/* ============================================================================================== */
/* Demo Styles                                                                                    */
/* ============================================================================================== */

[role="banner"] {
  border-bottom: 1px solid lighten(black, 80%);

  h1 {
    @include heading-third;
    color: $primary;
    margin: 0.25em 0;
  }
}

[role="main"] {
  padding: 2em 0;

  h1 { @include heading-first; }
  h2 { @include heading-second; }
  h3 { @include heading-third; }
  h4 { @include heading-fourth; }
  h5 { @include heading-fifth; }
  h6 { @include heading-sixth; }

  .unstyled-list { @include unstyled-list; }
  .inline-list { @include inline-list; }

  .blockquote { @include blockquote; }

  #demo-form {
    width: 400px;
  }
}

[role="contentinfo"] {
  border-top: 1px solid lighten(black, 80%);

  p {
    margin: 0.5em 0;
  }
}