// =============================================================================================== /
// Flexible Grid System (modified from Bourbon.io by thoughtbot)                                   /
// =============================================================================================== /

@function columns($columns, $container-columns: $maximum-columns) {
  $width: $columns * $column-width + ($columns - 1) * $gutter-width;
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter-width;
  @return percentage($width / $container-width);
}

@function gutter($container-columns: $maximum-columns, $gutter: $gutter-width) {
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter-width;
  @return percentage($gutter / $container-width);
}

@mixin row($children: div) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0;
  @include clearfix;

  & > #{$children} {
    float: left;
    margin-right: gutter();
  }
}

@function offset-columns($columns) {
  $margin: $columns * $column-width + $columns * $gutter-width;
  @return $margin;
}

@mixin offset($from-direction, $columns) {
  @if $from-direction == left {
    float: left;
    margin-left: offset-columns($columns);
  }
  @if $from-direction == right {
    float: right;
    margin-right: offset-columns($columns);
  }
}

@mixin last {
  margin-right: 0;
  float: right;
}