// Global Mixins ================================================================================= /

// Micro-clearfix hack, also part of Bourbon
@mixin clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

// Opacity, extend to IE
@mixin opacity ($value) {
  opacity: $value;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100))"; // IE8
  filter: alpha(opacity=($value * 100)); // IE5-7
  zoom: 1; // hacks IE requirement that element be positioned
}

/* Helper classes =============================================================================== */

// Hide from screenreaders and browsers
.hide {
  display: none !important;
  visibility: hidden;
}

.show {
  display: block !important;
}

// Hide only visually, but have it available for screenreaders
.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}
