// Variables ===================================================================================== /

// white - grays - black
$black:             hsl(0, 0%, 0%);
$gray90:            hsl(0, 0%, 10%);
$gray80:            hsl(0, 0%, 20%);
$gray70:            hsl(0, 0%, 30%);
$gray60:            hsl(0, 0%, 40%);
$gray50:            hsl(0, 0%, 50%);
$gray40:            hsl(0, 0%, 60%);
$gray30:            hsl(0, 0%, 70%);
$gray20:            hsl(0, 0%, 80%);
$gray10:            hsl(0, 0%, 90%);
$white:             hsl(0, 0%, 100%);

// accent colors
$blue:              #049cdb;
$blueDark:          #0064cd;
$green:             #46a546;
$red:               #9d261d;
$yellow:            #ffc40d;
$orange:            #f89406;
$pink:              #c3325f;
$purple:            #7a43b6;

// color scheme
$primary:           $blue;
$lightest:          $white;
$darkest:           $gray80;

// Modular Scale : 16 @ 1.618 and 23 @ 1.618
$modular-scale-up5:   3.75;   // 60px
$modular-scale-up4:   2.625;  // 42px
$modular-scale-up3:   2.3125; // 37px
$modular-scale-up2:   1.625;  // 26px
$modular-scale-up1:   1.4375; // 22px
$modular-scale-base:  1;      // 16px
$modular-scale-down1: 0.875;  // 14px
$modular-scale-down2: 0.625;  // 10px

// Type Variables
$base-font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family:    Menlo, Monaco, "Courier New", monospace;
$base-font-size:      #{$modular-scale-base}em;
$base-line-height:    $modular-scale-up1;
$vertical-measure:    $modular-scale-up1;
$base-font-color:     $darkest;
$heading-font-color:  $darkest;

// Grid function variables (not yet in use)
$max-width:           1000px;
$column-width:        150px;
$gutter-width:        20px;
$maximum-columns:     6;