# Sass
.sass-cache/*

# Jekyll
_site/

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db 
Desktop.ini

# SVN
.svn/

# Grunt
node_modules/